<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpP3c42d8lbc9N7daINo2SWiAkV0AvmM8</string>
	<key>GCM_SENDER_ID</key>
	<string>74673093564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doc</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-distribution-271ab</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-distribution-271ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74673093564:ios:89c7f8c6f9e2364c3989b9</string>
</dict>
</plist>